
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Terminals Activity</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="css/home.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/js/stomp.js"></script>
      <script src="/js/sockjs-0.3.4.js"></script>
      <script src="/js/eventWebsocketListener.js"></script>
      
    </head>
    <body onload="disconnect(); connect();">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/about">Terminal Access Diploma</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/terminals">Terminals</a></li>
                <li><a href="/staff">Staff</a></li> 
                <li><a href="/about">About the project</a></li> 
              </ul>
                <ul class="navbar navbar-nav navbar-right">
                    <li><form id ="logout" th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out" class="form-control"/>
                        </form>
                    </li>
                  </ul>
            </div>
        </nav>
        <div class="container">
          <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
        </div>
        <div class="jumbotron" >
            <div id="hero">
                <h2>Online Terminals Monitoring Activity</h2> 
                <p>In this table will be displayed current activity on the terminals (Access request, Acces approval/rejection, etc.)</p> 
          
            </div>
        </div>
        <div>
            <div id="conversationDiv">
                <button id="refresh" onclick="sendRequest();" class="btn btn-primary">Refresh</button>
                <p id="response"></p>
            </div>
        </div>
        
        <table id="data-table" class="table table-striped"></table>
    </body>
</html>